{% extends 'html/init.html' %}
{% block title %}
Change Password
{% endblock %}
{% block meta %}
<meta name="description" content="Forgot Passwords" >
{% endblock %}
{% block features %}
<div class="container">
	<div class="row justify-content-center">
		<div class="col justify-content-cente">
			<form action="{% url 'login:reset' %}" method="POST">
				{% csrf_token %}
				<div class="form-group">
				<label for="email" class="mr-2">Email:</label>
				<input type="email" name="email" id ="email" />
				</div>
				{% if warning %}
				<small class="text-danger">{{warning}}</small>
				<br/>
				{% endif %}
				<button class="btn btn-outline-primary" type="submit">Change Password</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}